/* Whole document */
body {
    font-family: 'Avenir Roman', sans-serif;
    font-weight: 300;
    line-height: 1.4rem;
    color: #333;
    width: 800px;
    margin: auto;
    background: #FFF;
    padding: 10px 10px 10px 10px;
}

/* Title of the resume */
h1 {
    font-size: 50px;
    font-weight: 500;
    letter-spacing: -0.20px;
    color: black;
    text-align: left;
}

/* Titles of categories */
h2 {
    font-size: 18px;
    color: black;
    font-weight: 400;
    text-align: right;
}

/* Definitions */
.grid {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-row-gap: 10px;
    grid-column-gap: 20px;
    grid-template-rows: auto;
}
.header-left {
    grid-column: 1 / 7;
    text-align: left;
    margin-top: auto;
    margin-bottom: auto;
}
.header-right {
    grid-column: 7 / 10;
    text-align: right;
    margin-top: auto;
    margin-bottom: auto;
}
.column-left-top {
    grid-column: 1 / 3;
}
.column-left {
    grid-column: 1 / 3;
    margin-top: auto;
    margin-bottom: auto;
}
.column-right-top {
    grid-column: 3 / 10;
}
.column-right {
    grid-column: 3 / 10;
    margin-top: auto;
    margin-bottom: auto;
}
.content-left{
    font-size: 15px;
    text-align: right;
    font-weight: 400;
}
.content-right{
    font-size: 15px;
    text-align: left;
    vertical-align: top;
}

/* Links */
a {
    text-decoration: none;
}

/* Horizontal separators */
hr {
    color: #999;
}

table {
    width: 100%;
}
