<!doctype html>
<html>

<head>
  <title></title>
  <link rel="stylesheet" href="{{ '/assets/css/cv.css' | relative_url }}">
</head>

<body>
<div class="grid">
    <div class="header-left">
        <h1>John P Barton</h1>
    </div>
    <div class="header-right">
        jpbarton@pitt.edu
        <br>
        bartonlab.github.io
    </div>
</div>

<div class="grid">
    <div class="column-left">
        <div class="content-left">
            <h2>Employment</h2>
        </div>
    </div>
    <div class="column-right">
        <hr />
    </div>
</div>

<div class="grid">
    <div class="column-left">
        <div class="content-left">
            Associate Professor
            <br>
            2022 -
        </div>
    </div>
    <div class="column-right">
        <div class="content-right">
            Department of Computational and Systems Biology
            <br>
            University of Pittsburgh School of Medicine
        </div>
    </div>
    <div class="column-left">
        <div class="content-left">
            Assistant Professor
            <br>
            2018 - 2022
        </div>
    </div>
    <div class="column-right">
        <div class="content-right">
            Department of Physics and Astronomy
            <br>
            University of California, Riverside
        </div>
    </div>
    <div class="column-left">
        <div class="content-left">
            Postdoctoral Fellow
            <br>
            2012 - 2017
        </div>
    </div>
    <div class="column-right">
        <div class="content-right">
            Massachusetts Institute of Technology
            <br>
            Ragon Institute of MGH, MIT & Harvard
            <br>
            Adviser: Arup K Chakraborty
        </div>
    </div>
</div>

<div class="grid">
    <div class="column-left">
        <div class="content-left">
            <h2>Education</h2>
        </div>
    </div>
    <div class="column-right">
        <hr />
    </div>
</div>

<div class="grid">
    <div class="column-left">
        <div class="content-left">
            PhD, Physics
            <br>
            2006 - 2012
        </div>
    </div>
    <div class="column-right">
        <div class="content-right">
            Rutgers, The State University of New Jersey
            <br>
            Adviser: Joel L Lebowitz
        </div>
    </div>
    <div class="column-left">
        <div class="content-left">
            BS, Physics & Mathematics
            <br>
            2002 - 2006
        </div>
    </div>
    <div class="column-right">
        <div class="content-right">
            Duke University
            <br>
            Magna cum laude
            <br>
            Honors thesis adviser: M Ronen Plesser
        </div>
    </div>
</div>

<div class="grid">
    <div class="column-left">
        <div class="content-left">
            <h2>Research Interests</h2>
        </div>
    </div>
    <div class="column-right">
        <hr />
    </div>
</div>

<div class="grid">
    <div class="column-right">
        <div class="content-right">
            I use methods from statistical mechanics and machine learning to study pathogen evolution and human immunity. I am particularly interested in highly mutable pathogens such as HIV, and the dynamical interactions between microbes and the immune system.
        </div>
    </div>
</div>

{{ content }}

</body>
</html>
