<!doctype html>
<html>

{% include head.html %}

<body>

    <!-- BG masthead attempt
    <div class="masthead-container">
        <div class="masthead-spacer-left">
        </div>
    </div>
    <div class="masthead-container">
        <div class="masthead-content">
            {% include header.html %}
        </div>
    </div>
    <div class="masthead-container">
        <div class="masthead-spacer-right">
        </div>
    </div>
    -->

    <div class="container">

        {% include header.html %}

        <div class="post-container">
            {{ content }}
        </div>

        {% include footer.html %}

    </div>

</body>
</html>
